hr{
    padding: 0px;
    margin: 0px;
    background-color: black
}

.header-title{
    font-size: 1.6em;
    font-weight: 200;
    margin-right: 10px;
    text-decoration: none
  }

.title{
    font-size: 55px;
    font-weight: lighter
}

.header {
  padding: 70px;
  text-align: center;

    background-color: #8FC9A3;
  color: black;
  font-size: 18px;
}

.about-us {
  max-width: 800px;
  margin: 0 auto;
}

.header2 {
  padding: 70px;
  text-align: center;
  background: #937e71;
  color: black;
  font-size: 18px;
}

.title2 {
    font-size: 55px;
    font-weight: bolder;
}

.cool-button {
  background-color: #8FC9A3;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 15px;
  font-size: 15px;
}

.cool-button:hover {
  background-color: #79B88B;
}

.card-deck {
  display: flex;
  flex-wrap: wrap;
  align-items: normal;
}

.card {
  flex: 1 1 auto;
}

.plus-image{
    width: 110px;
    height: 110px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card-password{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card{
    border-width: 2px;
    max-width: 18rem;
    display: inline-block;
    margin-right: 15px;
    min-height: 13rem;
    max-height: 19rem;
    min-width: 18rem;
    margin-bottom: 15px;
}

@media (min-width: 100px){
.card-deck .card {
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
    margin-right: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
}}

input:focus::placeholder {
  color: transparent;
}

textarea:focus::placeholder {
    color:transparent;
}

.bottom-left {
    position: absolute;
    bottom: 3px;
    left: 3px;
  }

.top-right {
    position: absolute;
    top: 3px;
    right: 3px;
    font-size: smaller;
  }