{% extends "vault/layout.html" %}

{% block body %}
<div class="header">
  <h1 class="title">PassGuard</h1>
  <p class="about-us">Our solution to empower individuals and businesses to take control of their online security
    by providing a secure and user-friendly password management solution. We aim to simplify the
    process of password management, enhance data privacy, and promote strong security practices
    to safeguard sensitive information across all online platform. Our solution prioritizes your online security by storing the encryption key with you, and not in our database. Therefore, databases are populated with encrypted passwords and not your actual passwords. So your data is in your control at all time. (Read more below)</p>
  {% if user.is_authenticated == False %}
  <a href="{% url 'register' %}"><button class="btn btn-dark">Sign up</button></a>
  {% endif %}
</div>

<hr>

<div class="header2">
  <h1 class="title2">About Us</h1>
  <p class="about-us">Welcome to PassGuard, our password management app! We are dedicated to providing a cutting-edge solution that ensures the security and convenience of managing your passwords. With the increasing number of online accounts we handle on a daily basis, it has become more crucial than ever to have a reliable and secure system in place.

At PassGuard, our mission is to empower individuals and businesses to take control of their online security. We understand the importance of protecting sensitive information and maintaining privacy in the digital age. That's why we have developed a robust password management platform that combines advanced encryption techniques with user-friendly features.

Security is at the core of PassGuard. We make it the responsibility of the user to store their individual master-key. Once the user registers he will be given a master-key (which is the encryption key). The user is recommended to store it offline on a notepad document or in a physical copy. This increases the protection by alot as even if the database was intercepted all that would be found are some encrypted passwords therefore this adds a layer of protection.

We believe in making password management simple and hassle-free. With PassGuard, you can securely store, organize, and access your passwords from any device. Generate strong and unique passwords and seamlessly synchronize your data across multiple platforms.

At PassGuard, we are committed to maintaining the highest standards of security and privacy. Your trust and satisfaction are our top priorities.

Join us on our mission to strengthen your online security and simplify your password management. Experience the peace of mind that comes with knowing your passwords are safe, while enjoying the convenience of accessing them whenever and wherever you need.

Start using PassGuard for free today and take control of your digital security journey!</p>
</div>
{% endblock %}