{% extends "vault/layout.html" %}

{% block body %}
    <div style="margin: 25px;">
<h1 class="title" style="font-size: 35px;">Add a password:</h1>
<form action="{% url 'add_password' %}" method="post">
    {% csrf_token %}
  <div class="form-group">
      <span><label>Password:</label></span> <button class="btn btn-info" style="margin: 5px; font-size: smaller" onclick="generatePassword(this)">Generate</button>
    <input type="text" maxlength="15" name="password" class="form-control" id="exampleFormControlInput1" placeholder="the password" required>
  </div>
     <div class="form-group">
    <label>Title:</label>
    <input type="text" maxlength="15" name="title" class="form-control" id="exampleFormControlInput1" placeholder="Gmail" required>
  </div>
    <div class="form-group">
    <label>Website:</label>
    <input type="text" maxlength="25" name="website" class="form-control" id="exampleFormControlInput1" placeholder="www.gmail.com" required>
  </div>
   <div class="form-group">
   <label>Master-key:</label>
    <input type="text" maxlength="100" name="masterkey" class="form-control" id="exampleFormControlInput1" placeholder="Your master key that showed for you after registering" required>
  </div>
  <div class="form-group">
    <label>Notes:</label>
    <textarea type="text" maxlength="112" name="description" class=" form-control" id="exampleFormControlTextarea1"
              placeholder="Any notes such as the email or if you have more than one account" required></textarea>
  </div>
        <button class="cool-button" type="submit">Add</button>
</form>
        </div>

{% endblock %}