{% extends "vault/layout.html" %}

{% block body %}
    <div style="margin: 25px;">
<h1 class="title" style="font-size: 35px;">Add a password</h1>
<form action="" method="post">
    {% csrf_token %}
  <div class="form-group">
    <label>Title:</label>
    <input type="text" maxlength="15" name="title" class="form-control" id="exampleFormControlInput1" placeholder="Gmail">
  </div>
    <div class="form-group">
    <label>Website:</label>
    <input type="text" maxlength="25" name="title" class="form-control" id="exampleFormControlInput1" placeholder="www.gmail.com">
  </div>
  <div class="form-group">
    <label>Notes:</label>
    <textarea type="text" maxlength="112" name="description" class=" form-control" id="exampleFormControlTextarea1"
              placeholder="Any notes such as the email or if you have more than one account" ></textarea>
  </div>
        <button class="cool-button" type="submit">Add</button>
</form>
        </div>

{% endblock %}