{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}PassGuard{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="{% static 'vault/styles.css' %}" rel="stylesheet">
    <style>
        .main-content {
            margin-left: 20px;
            margin-top: 15px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-light" style="background-color: #8FC9A3;">

        <div class="navbar-collapse">
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                <a href="{% url 'index' %}" class="header-title" style="text-decoration: none; color: black;">PassGuard</a>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">About us<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Log Out <span class="sr-only">(current)</span></a>
                </li>
                {% else %}
                <a href="{% url 'index' %}" class="header-title" style="text-decoration: none; color: black;">PassGuard</a>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Log In<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}">Register<span class="sr-only">(current)</span></a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>


    <div>
        {% block body %}
        {% endblock %}
    </div>

</body>
</html>
