{% extends "vault/layout.html" %}
{% block body %}
{% load static %}

    <div style="margin: 25px;">
<label>Your Master-key:</label>
    <input type="text" maxlength="100" name="masterkey" class="form-control" id="exampleFormControlInput1" placeholder="Inserting the wrong masterkey will result in wrong password" >
        <h1 class="title" style="font-size: 35px;">{{request.user.username}}'s passwords:</h1>
<div class="card-deck">

    {% for password in passwords %}
    <div class="card" >
  <div class="card-body">
    <div style="display: none" class="id">{{password.id}}</div>
    <h5 class="card-title">{{password.title}}</h5><hr style="margin-bottom: 9px; margin-top: -5px;">
    <h6 class="card-subtitle mb-2 text-muted">{{password.website}}</h6>
    <p class="card-text">{{password.notes}}</p>
    <button type="button" class="btn btn-link">Reveal Password</button>
  </div>
</div>
    {%endfor%}

        <a href="{% url 'add_password' %}" class="card" style="max-width: 18rem; display: inline-block">
  <div class="card-body" style="text-align: center">
  <h6>Add a password</h6>
      <img src="{% static 'download.png' %}" alt="plus-image" class="plus-image">
  </div>
</a>
    </div>
    </div>
{% endblock %}